<div style="background-color:green"
class="item images-parent">
  <img  (click)="this.miscOperationsService.setMargin(0)"
  src="assets/left border.png" class="left-image all-images"/>
  <img (click)="this.miscOperationsService.setMargin(1)"
  src="assets/top border.png" class="top-image all-images"/>
  <img (click)="this.miscOperationsService.setMargin(2)"
  src="assets/right border.png" class="right-image all-images"/>
  <img (click)="this.miscOperationsService.setMargin(3)"
  src="assets/bottom border.png" class="bottom-image all-images"/>
  <img (click)="this.miscOperationsService.setMargin(4)"
  src="assets/all borders.png" class="center-image all-images"/>
 </div> 